body {
  background-image: url('../images/bg.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  min-height: 100vh;
}

.pageContainer {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

.title {
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  max-width: 500px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
  color: rgba(255,255,255, 0.6);
  margin: 0 0 1rem 0;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-family: 'Open Sans Condensed', sans-serif;
}

ul {
  margin: 50px 0;
  padding: 10px 0 0 0;
  border-top: 1px solid rgba(255,255,255,0.2);
}

li {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

li a {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  text-decoration: none;
}

a.button {
  display: inline-block;
  border-radius: 30px;
  background-color: #36B3A8;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a:hover.button {
  background-color: rgba(54, 179, 168, 0.7);
}
